.DS_Store
.env
venv/
__pycache__/
*.pyc
.debug
/response.json
/debug*
/debug/
/coverage
/node_modules/
/frontend/node_modules/
/frontend/dist/

magic_patterns_UI/
magic_patterns_UI.zip

← Back to home.pdf
← Back to home.txt
